@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

#root {
  max-width: 1440px;
  margin: 0 auto;
}
.homebg {
  background-image: url("/public/Frame\ 9325.png");
  background-repeat: no-repeat;
}

.foot {
  font-family: "Outfit", sans-serif;
}

.pgri {
  font-family: "Outfit", sans-serif;
}

.properties {
  font-family: "Outfit", sans-serif;
}
.sin {
  font-family: "Outfit", sans-serif;
}
.sup {
  font-family: "Outfit", sans-serif;
}

.hero {
  font-family: "Outfit", sans-serif;
}

.nav {
  font-family: 'Exo 2', sans-serif;
}
